{% extends "main/base.html" %}
{% load static %}
{% block content %}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__item set-bg" data-setbg="{% static 'img/images/negative-space-mac-laptop-top-down-glow-resized.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero__text">
                        <span>Software Engineer / Fullstack Engineer</span>
                        <h2>I am Kaleb Humpal</h2>
                        <div class="hero__text__buttons">
                            <a href="{% url 'portfolio' %}" class="secondary-btn">See Kaleb's Projects</a>
                            <a href="{% url 'about' %}" class="secondary-btn">Learn more about Kaleb</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="services__title">
                    <div class="section-title">
                        <span>My services</span>
                        <h2>What I do?</h2>
                    </div>
                    <p>When you engage my expertise in software development, you're not just hiring a coder. You're enlisting a dedicated partner who's committed to translating your innovative ideas into functional, user-friendly software solutions. From conceptualization to implementation, your project is a canvas for innovation, and I'm here to turn your vision into reality.</p>
                    <a href="{% url 'services' %}" class="primary-btn">View all services</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="{% static 'img/icons/icomoon-white/code.svg' %}" alt="">
                            </div>
                            <h4>Software Development</h4>
                            <span>Code with a purpose</span>
                            <p>Whether you're seeking to breathe life into a creative idea or seeking to enhance an existing software, I'm here to lend my expertise. With a passion for transforming concepts into functional code, I'm your partner in technological innovation.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="{% static 'img/icons/icomoon-white/terminal.svg' %}" alt="">
                            </div>
                            <h4>Scripting</h4>
                            <span>Efficiency in Every Line</span>
                            <p>From automating mundane tasks to optimizing complex processes, my scripting services are designed to elevate your efficiency. Let's harness the power of scripts to simplify your workflow and boost productivity.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="{% static 'img/icons/icomoon-white/browser.svg' %}" alt="">
                            </div>
                            <h4>Web Development</h4>
                            <span>Building Your Online Identity</span>
                            <p>Your online presence is your digital identity. As a skilled developer, I'll transform your concepts into functional and user-friendly websites or web applications. While my focus lies in development, I also collaborate with talented designers to ensure your online presence is as captivating as your ideas. Let's build a seamless bridge between your imagination and the digital world.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="{% static 'img/icons/icomoon-white/bug.svg' %}" alt="">
                            </div>
                            <h4>Software Testing</h4>
                            <span>Perfecting the Product</span>
                            <p>Every piece of software deserves to be flawless. Through rigorous testing and meticulous attention to detail, I ensure that your software not only meets but exceeds expectations. Trust in my commitment to quality assurance.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
<!-- Work Section Begin -->
<section class="work spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="services__title">
                    <div class="section-title">
                        <span>Featured Projects</span>
                        <h2>Discover My Work</h2>
                    </div>
                    <p>Explore a selection of my featured coding projects that highlight my skills and passion for software development. From web applications to innovative scripts, these projects showcase my dedication to turning ideas into functional and user-friendly solutions. Click on each project to learn more about its features and capabilities.</p>
                    <a href="{% url 'portfolio' %}" class="primary-btn">See All of Kaleb's Past Works</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="work__slider owl-carousel">
                    {% for project in featured_projects %}
                    <div class="work__item">
                        <div class="project-image">
                            <img src="{{ project.cover_image.url }}" alt="{{ project.name }} Cover Image">
                        </div>
                        <h4>{{ project.name }}</h4>
                        <p>{{ project.short_summary }}</p>
                        <div class="btn-group">
                        <a type="button" class="btn btn-sm btn-outline-secondary" title="Github" href="{{ project.repository_link }}" target="_blank">View</a>
                        <a type="button" class="btn btn-sm btn-outline-secondary" title="View Demo" href="{{ project.live_demo_link }}" target="_blank">Demo</a>
                        <a type="button" class="btn btn-sm btn-outline-secondary" title="Download" href="#">Download</a>
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Work Section End -->
<!-- Counter Section Begin -->
<section class="counter">
    <div class="container">
        <div class="counter__content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__text">
                            <img src="{% static 'img/icons/ci-1.png' %}" alt="">
                            <h2 class="counter_num">5</h2>
                            <p>Completed Projects</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item second__item">
                        <div class="counter__item__text">
                            <img src="{% static 'img/icons/happyClient.png' %}" alt="" style="width: 65px">
                            <h2 class="counter_num">4</h2>
                            <p>Happy clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item third__item">
                        <div class="counter__item__text">
                            <img src="{% static 'img/icons/prospectiveClient.png' %}" alt="" style="width: 65px">
                            <h2 class="counter_num">5</h2>
                            <p>Prospective clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item four__item">
                        <div class="counter__item__text">
                            <img src="{% static 'img/icons/blueBlogPost.png' %}" alt="" style="width: 65px">
                            <h2 class="counter_num">6</h2>
                            <p>Blog Posts</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->
<!-- Latest Blog Section Begin -->
<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title center-title">
                    <span>Kaleb's Blog</span>
                    <h2>Recent Blog Posts</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="latest__slider owl-carousel">
                {% for post in recent_posts %}
                <div class="col-lg-4">
                    <div class="blog__item latest__item">
                        <h4>{{ post.title }}</h4>
                        <ul>
                            <li>{{ post.date_posted|date:"M d, Y" }}</li>
                            <!-- <li>MAYBE LIKES HERE?</li> -->
                        </ul>
                        <p>{{ post.summary }}</p>
                        <a href="{% url 'post-detail' post.id %}">Read more <span class="arrow_right"></a>
                        <!-- </div> -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->
<!-- Call To Action Section Begin -->
<section class="">
    <div class="callto__services spad2 set-bg" data-setbg="{% static '/img/images/person-with-futuristic-metaverse-avatar-mask-resized.jpg' %}">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
            <div class="col-lg-8">
                <div class="callto__text">
                    <h2>Ready to Transform Your Online Presence? Contact Me Now!</h2>
                    <!-- <p>INC5000, Best places to work 2019</p> -->
                    <a class="secondary-btn" href="{% url 'contact' %}">Contact Me!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Section End -->
{% endblock %}