{% extends "main/base.html" %}
{% load static %}
{% block content %}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option spad finisher-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>My Services</h2>
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}">Home</a>
                        <span>Services</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Services Section Begin -->
<section class="services-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="{% static 'img/icons/icomoon-white/code.svg' %}" alt="">
                    </div>
                    <h4>Software Development</h4>
                    <span>Code with a purpose</span>
                    <p>Whether you're seeking to breathe life into a creative idea or seeking to enhance an existing software, I'm here to lend my expertise. With a passion for transforming concepts into functional code, I'm your partner in technological innovation.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="{% static 'img/icons/icomoon-white/terminal.svg' %}" alt="">
                    </div>
                    <h4>Scripting</h4>
                    <span>Efficiency in Every Line</span>
                    <p>From automating mundane tasks to optimizing complex processes, my scripting services are designed to elevate your efficiency. Let's harness the power of scripts to simplify your workflow and boost productivity.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="{% static 'img/icons/icomoon-white/browser.svg' %}" alt="">
                    </div>
                    <h4>Web Development</h4>
                    <span>Building Your Online Identity</span>
                    <p>Your online presence is your digital identity. As a skilled developer, I'll transform your concepts into functional and user-friendly websites or web applications. While my focus lies in development, I also collaborate with talented designers to ensure your online presence is as captivating as your ideas. Let's build a seamless bridge between your imagination and the digital world.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="{% static 'img/icons/icomoon-white/bug.svg' %}" alt="">
                    </div>
                    <h4>Software Testing</h4>
                        <span>Perfecting the Product</span>
                        <p>Every piece of software deserves to be flawless. Through rigorous testing and meticulous attention to detail, I ensure that your software not only meets but exceeds expectations. Trust in my commitment to quality assurance.</p>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="{% static 'img/icons/si-4.png' %}" alt="">
                    </div>
                    <h4>Video hosting</h4>
                    <p>Whether you’re halfway through the editing process, or you haven’t even started, our post
                        production services can put the finishing touches.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                            <img src="{% static 'img/icons/si-4.png' %}" alt="">
                    </div>
                    <h4>Video hosting</h4>
                    <p>Whether you’re halfway through the editing process, or you haven’t even started, our post
                        production services can put the finishing touches.</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Call To Action Section Begin -->
<section class="">
    <div class="callto__services spad2 set-bg" data-setbg="{% static 'img/images/person-with-futuristic-metaverse-avatar-mask-resized.jpg' %}">
        <div class="overlay"></div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10 text-center">
                    <div class="callto__text">
                        <h2>Get in Touch</h2>
                        <p>Ready to take the next step? Whether you have questions about my services, want to discuss a project, or simply want to say hello, I'd love to hear from you. Feel free to reach out, and let's start a conversation.</p>
                        <a href="{% url 'contact' %}" class="secondary-btn">Contact Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Section End -->

<!-- Logo Begin -->
<!-- <section class="logo spad">
    <div class="container">
        <div class="logo__carousel owl-carousel">
            <a href="#" class="logo__item"><img src="{% static 'img/logo/python.png' %}" alt=""></a>
            <a href="#" class="logo__item"><img src="{% static 'img/logo/django.png' %}" alt=""></a>
            <a href="#" class="logo__item"><img src="{% static 'img/logo/flask.png' %}" alt=""></a>
            <a href="#" class="logo__item"><img src="{% static 'img/logo/html5.png' %}" alt=""></a>
            <a href="#" class="logo__item"><img src="{% static 'img/logo/css3.png' %}" alt=""></a>
            <a href="#" class="logo__item"><img src="{% static 'img/logo/javascript.png' %}" alt=""></a>
            <a href="#" class="logo__item"><img src="{% static 'img/logo/linux.png' %}" alt=""></a>
            <a href="#" class="logo__item"><img src="{% static 'img/logo/github.png' %}" alt=""></a>
            <a href="#" class="logo__item"><img src="{% static 'img/logo/data.png' %}" alt=""></a>
            <a href="#" class="logo__item"><img src="{% static 'img/logo/fedora.png' %}" alt=""></a>
            <a href="#" class="logo__item"><img src="{% static 'img/logo/terminal1.png' %}" alt=""></a>
            <a href="#" class="logo__item"><img src="{% static 'img/logo/sass.png' %}" alt=""></a>
        </div>
    </div>
</section> -->
<!-- Logo End -->

{% endblock content %}