{% extends "main/base.html" %}
{% load static %}
{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option spad finisher-header set-bg">
    <!-- data-setbg="{% static 'img/images/vecteezy_abstract_glow4-No-text.jpg' %}"> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>About me</h2>
                    <div class="breadcrumb__links">
                        <a href="#">Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- About Section Begin -->
<section class="about spad bg-gradient-animate">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about__pic">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="about__pic__item about__pic__item--large set-bg" data-setbg="{% static 'img/who-am-i.png' %}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__text">
                    <div class="section-title">
                        <span>About Kaleb Humpal</span>
                        <h2>Who am I?</h2>
                    </div>
                    <div class="about__text__desc">
                        <p>As a software developer, I embarked on my journey with basic web development after high school. My fascination with Python led me to dive into personal projects while studying C++ at a university in Beirut, Lebanon. However, my insatiable thirst for knowledge pushed me beyond traditional education. I'm captivated by all things computer-related and driven to continuously learn. With a passion for surpassing job goals independently, I'm always ready to confront challenges head-on, as they serve as catalysts for growth. Let's embrace the boundless possibilities that lie ahead together.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="{% static 'img/icons/si-3.png' %}" alt="">
                                </div>
                                <a class="btn-primary">Download Resume</a>
                                <!-- <p>Whether you’re halfway through the editing process, or you.</p> -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="{% static 'img/icons/si-4.png' %}" alt="">
                                </div>
                                <a class="btn-primary">Contact</a>
                                <!-- <p>Whether you’re halfway through the editing process, or you.</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Skills Section Begin -->
<section class="skills spad bg-gradient-animate">
    <div class="container">
        <div class="skills__content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title team__title">
                        <span>Estimates of my skills</span>
                        <h2>Skills</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                    <ul class="nav nav-pills flex-column px-0" id="pills-tab" role="tablist">
                        <li class="nav-item mt-4 pt-2">
                            <a type="button" class="primary-btn active" id="pills-front-end-tab" data-bs-toggle="pill" href="#pills-front-end" role="tab" aria-controls="pills-front-end" aria-selected="true">
                                Front End
                            </a>
                            <!--end nav link-->
                        </li>
                        <!--end nav item-->
                        <li class="nav-item mt-4 pt-2">
                            <a class="primary-btn" id="pills-back-end-tab" data-bs-toggle="pill" href="#pills-back-end" role="tab" aria-controls="pills-back-end" aria-selected="false">
                                Back End
                            </a>
                            <!--end nav link-->
                        </li>
                        <!--end nav item-->
                        <li class="nav-item mt-4 pt-2">
                            <a class="primary-btn" id="pills-etc-tab" data-bs-toggle="pill" href="#pills-etc" role="tab" aria-controls="pills-etc" aria-selected="false">
                                Msc.
                            </a>
                            <!--end nav link-->
                        </li>
                        <!--end nav item-->
                    </ul>
                    <!--end nav pills-->
                </div>
                <!--end col-->
                <div class="col-lg-9 col-md-8 col-12">
                    <div class="tab-content ps-lg-4" id="pills-tabContent">
                        <div class="skill-bars tab-pane fade active show" id="pills-front-end" role="tabpanel" aria-labelledby="pills-front-end-tab">
                            <h4>Front-End</h4>
                                <div class="bar">
                                    <div class="info">
                                        <span>HTML</span>
                                    </div>
                                    <div class="progress-line html">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="bar">
                                    <div class="info">
                                        <span>CSS</span>
                                    </div>
                                    <div class="progress-line css">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="bar">
                                    <div class="info">
                                        <span>Javascript</span>
                                    </div>
                                    <div class="progress-line javascript">
                                        <span></span>
                                    </div>
                                </div>
                                <ul class="yearline" title="Yrs">
                                    <li class="year-half"></li>
                                    <li data-years="1"></li>
                                    <li class="year-half"></li>
                                    <li data-years="2"></li>
                                    <li class="year-half"></li>
                                    <li data-years="3"></li>
                                    <li class="year-half"></li>
                                    <li data-years="4"></li>
                                </ul>
                            </div>
                            <div class="skill-bars tab-pane fade" id="pills-back-end" role="tabpanel" aria-labelledby="pills-back-end-tab">
                                <h4>Back-End</h4>
                                    <div class="bar">
                                        <div class="info">
                                            <span>Python</span>
                                        </div>
                                        <div class="progress-line python">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="bar">
                                        <div class="info">
                                            <span>Django</span>
                                        </div>
                                        <div class="progress-line django">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="bar">
                                        <div class="info">
                                            <span>Flask</span>
                                        </div>
                                        <div class="progress-line flask">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="bar">
                                        <div class="info">
                                            <span>SQL</span>
                                        </div>
                                        <div class="progress-line sql">
                                            <span></span>
                                        </div>
                                    </div>
                                        <div class="bar">
                                        <div class="info">
                                            <span>ORM</span>
                                        </div>
                                        <div class="progress-line sql">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="bar">
                                        <div class="info">
                                            <span>C++</span>
                                        </div>
                                        <div class="progress-line cpp">
                                            <span></span>
                                        </div>
                                    </div>
                                    <ul class="yearline" title="Yrs">
                                        <li class="year-half"></li>
                                        <li data-years="1"></li>
                                        <li class="year-half"></li>
                                        <li data-years="2"></li>
                                        <li class="year-half"></li>
                                        <li data-years="3"></li>
                                        <li class="year-half"></li>
                                        <li data-years="4"></li>
                                        <li class="year-half"></li>
                                        <li data-years="5"></li>
                                        <li class="year-half"></li>
                                        <li data-years="6"></li>
                                    </ul>
                            </div>
                            <!--end teb pane-->
                            <div class="skill-bars tab-pane fade" id="pills-etc" role="tabpanel" aria-labelledby="pills-etc-tab">
                                    <div class="bar">
                                        <div class="info">
                                            <span>Linux CLI</span>
                                        </div>
                                        <div class="progress-line linux">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="bar">
                                        <div class="info">
                                            <span>Bash</span>
                                        </div>
                                        <div class="progress-line bash">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="bar">
                                        <div class="info">
                                            <span>Project Management</span>
                                        </div>
                                        <div class="progress-line proj-man">
                                            <span></span>
                                        </div>
                                    </div>
                                    <ul class="yearline" title="Yrs">
                                        <li class="year-half"></li>
                                        <li data-years="1"></li>
                                        <li class="year-half"></li>
                                        <li data-years="2"></li>
                                        <li class="year-half"></li>
                                        <li data-years="3"></li>
                                        <li class="year-half"></li>
                                        <li data-years="4"></li>
                                        <li class="year-half"></li>
                                        <li data-years="5"></li>
                                    </ul>
                            </div>
                            <!--end tab content-->
                        </div>
                        <!--end col-->
                    </div> <!-- end row -->
                </div> <!-- end col -->
            </div>
        </div>
</section>
<!-- Skills Section End -->

<!-- Experience Timeline Section -->
<section id="about__experience" class="experience spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="timeline__title">
                    <div class="section-title">
                        <div class="section-title center-title">
                            <span></span>
                            <h2>My Experience</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="timeline">
            <div class="timeline__job timeline__job--left">
                <div class="timeline__job__marker"></div>
                <div class="timeline__job__content">
                    <h4 class="timeline__job__content__title">Freelancer</h4>
                    <span class="timeline__job__content__date">2021 - Current</span>
                    <p class="timeline__job__content__description">I was tasked to work on some Data Entry to get started, I sped that up with a simple, custom excel extraction script in Python. I am currently building an Online Health Course Chatbot with a platform called Creator UI.</p>               </div>
            </div>
            <div class="timeline__job timeline__job--right">
                <div class="timeline__job__marker"></div>
                <div class="timeline__job__content">
                    <h4 class="timeline__job__content__title">Adobe InDesign Editor</h4>
                    <span class="timeline__job__content__date">June 2020 - September 2020</span>

                    <p class="timeline__job__content__description">I was responsible for the careful following and implementation of layout designs in Adobe InDesign. Worked with Farsee, Arabic, Turkish, and English study guides, coloring books, bible lessons, etc.</p>
                </div>
            </div>
            <div class="timeline__job timeline__job--left">
                <div class="timeline__job__marker"></div>
                <div class="timeline__job__content">
                    <h4 class="timeline__job__content__title">Computer Science Student</h4>
                    <span class="timeline__job__content__date">August 2019 - November 2020</span>

                    <p class="timeline__job__content__description">I studied computer science and had my passion for coding and learning all about computers reignited as I went to university to grow my romantic relationship and get engaged and then married.</p>
                </div>
            </div>
            <div class="timeline__job timeline__job--right">
                <div class="timeline__job__marker"></div>
                <div class="timeline__job__content">
                    <h4 class="timeline__job__content__title">Kitchen Manager</h4>
                    <span class="timeline__job__content__date">June 2017 - August 2019</span>

                    <p class="timeline__job__content__description">I was responsible for ordering supplies, food, and ingredients. Preparation of food, supervising/training new staff in specific stations, and cross-training if necessary, maintaining inventory levels and conducting full weekly inventory assessments, Assisting with menu changes and adjustments, scheduling, and responding personally to guest questions and complaints.</p>
                </div>
            </div>
        </div>  
    </div>
</section>
<!-- End of Experience Timeline Section -->

<!-- Testimonial Section Begin -->
<!-- <section class="testimonial spad set-bg" data-setbg="{% static 'img/testimonial-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title center-title">
                    <span>Loved By Clients</span>
                    <h2>What clients say?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="testimonial__slider owl-carousel">
                <div class="col-lg-4">
                    <div class="testimonial__item">
                        <div class="testimonial__text">
                            <p>Delivers such a great service that it can benefit all kinds of people from any number
                                of industries.</p>
                        </div>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                                <img src="{% static 'img/testimonial/ta-1.jpg' %}" alt="">
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Krista Attorn</h5>
                                <span>Web Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial__item">
                        <div class="testimonial__text">
                            <p>Videographer delivers such a great service that it can benefit all kinds of people
                                from any number.</p>
                        </div>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                                <img src="{% static 'img/testimonial/ta-2.jpg' %}" alt="">
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Krista Attorn</h5>
                                <span>Web Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial__item">
                        <div class="testimonial__text">
                            <p>Videographer delivers such a great service that it can benefit all kinds of people
                                from any number.</p>
                        </div>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                                <img src="{% static 'img/testimonial/ta-3.jpg' %}" alt="">
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Krista Attorn</h5>
                                <span>Web Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial__item">
                        <div class="testimonial__text">
                            <p>Delivers such a great service that it can benefit all kinds of people from any number
                                of industries.</p>
                        </div>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                                <img src="{% static 'img/testimonial/ta-1.jpg' %}" alt="">
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Krista Attorn</h5>
                                <span>Web Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial__item">
                        <div class="testimonial__text">
                            <p>Videographer delivers such a great service that it can benefit all kinds of people
                                from any number.</p>
                        </div>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                                <img src="{% static 'img/testimonial/ta-2.jpg' %}" alt="">
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Krista Attorn</h5>
                                <span>Web Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Testimonial Section End -->
<!-- Counter Section Begin -->
<section class="counter bg-gradient-animate">
    <div class="container">
        <div class="counter__content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__text">
                            <img src="{% static 'img/icons/ci-1.png' %}" alt="">
                            <h2 class="counter_num">5</h2>
                            <p>Completed Projects</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item second__item">
                        <div class="counter__item__text">
                            <img src="{% static 'img/icons/ci-2.png' %}" alt="">
                            <h2 class="counter_num">4</h2>
                            <p>Happy clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item third__item">
                        <div class="counter__item__text">
                            <img src="{% static 'img/icons/ci-3.png' %}" alt="">
                            <h2 class="counter_num">5</h2>
                            <p>Prospective clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item four__item">
                        <div class="counter__item__text">
                            <img src="{% static 'img/icons/ci-4.png' %}" alt="">
                            <h2 class="counter_num">6</h2>
                            <p>Blog Posts</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->
<!-- Hobbies & Interests Section Begin -->
<section class="hobby spad set-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title team__title">
                    <span>Learn a little bit more about me</span>
                    <h2>Hobbies & Interests</h2>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="hobby__item">
                    <div class="hobby__item__icon">
                        <img src="/static/img/icons/si-4.png" alt="">
                    </div>
                    <h4>Programming</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="hobby__item">
                    <div class="hobby__item__icon">
                        <img src="/static/img/icons/si-4.png" alt="">
                    </div>
                    <h4>Linux</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="hobby__item">
                    <div class="hobby__item__icon">
                        <img src="/static/img/icons/si-4.png" alt="">
                    </div>
                    <h4>Movies</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="hobby__item">
                    <div class="hobby__item__icon">
                        <img src="/static/img/icons/si-4.png" alt="">
                    </div>
                    <h4>Tea & Coffee</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="hobby__item">
                    <div class="hobby__item__icon">
                        <img src="/static/img/icons/si-4.png" alt="">
                    </div>
                    <h4>Music</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="hobby__item">
                    <div class="hobby__item__icon">
                        <img src="/static/img/icons/si-4.png" alt="">
                    </div>
                    <h4>Gaming</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="hobby__item">
                    <div class="hobby__item__icon">
                        <img src="/static/img/icons/si-4.png" alt="">
                    </div>
                    <h4>Puzzles</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="hobby__item">
                    <div class="hobby__item__icon">
                        <img src="/static/img/icons/si-4.png" alt="">
                    </div>
                    <h4>Android</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
            <div class="hobby__item">
                    <div class="hobby__item__icon">
                        <img src="/static/img/icons/si-4.png" alt="">
                    </div>
                    <h4>Drones</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="hobby__item">
                    <div class="hobby__item__icon">
                        <img src="/static/img/icons/si-4.png" alt="">
                    </div>
                    <h4>Animals</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="hobby__item">
                    <div class="hobby__item__icon">
                        <img src="/static/img/icons/si-4.png" alt="">
                    </div>
                    <h4>Philosophy</h4>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item set-bg" data-setbg="{% static 'img/team/team-1.jpg' %}">
                    <div class="team__item__text">
                        <h4>Programming</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--second set-bg" data-setbg="{% static 'img/team/team-2.jpg' %}">
                    <div class="team__item__text">
                        <h4>Linux</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--third set-bg" data-setbg="{% static 'img/team/team-3.jpg' %}">
                    <div class="team__item__text">
                        <h4>Movies</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--four set-bg" data-setbg="{% static 'img/team/team-4.jpg' %}">
                    <div class="team__item__text">
                        <h4>Tea & Coffee</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--four set-bg" data-setbg="{% static 'img/team/team-4.jpg' %}">
                    <div class="team__item__text">
                        <h4>Music</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--four set-bg" data-setbg="{% static 'img/team/team-4.jpg' %}">
                    <div class="team__item__text">
                        <h4>Gaming</h4>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-12 p-0">
                <div class="team__btn">
                    <a href="#" class="primary-btn">Contact Me</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->
{% endblock content %}