{% extends "main/base.html" %}
{% load static %}
{% block content %}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option spad finisher-header set-bg"> <!-- data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Contact me</h2>
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}">Home</a>
                        <span>Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Contact Widget Section Begin -->
<!-- <section class="contact-widget spad bg-gradient-animate">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-md-6 col-md-3">
                <div class="contact__widget__item">
                    <div class="contact__widget__item__icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="contact__widget__item__text">
                        <h4>Address</h4>
                        <p>Dekwaneh, Lebanon</p>
                        <p>Los Angeles Gournadi, 1230 Bariasl</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-md-6 col-md-3">
                <div class="contact__widget__item">
                    <div class="contact__widget__item__icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="contact__widget__item__text">
                        <h4>Hotline</h4>
                        <p>1-677-124-44227 • 1-688-356-66889</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-md-6 col-md-3">
                <div class="contact__widget__item">
                    <div class="contact__widget__item__icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="contact__widget__item__text">
                        <h4>Email</h4>
                        <p>Support@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Contact Widget Section End -->

<!-- Call To Action Section Begin -->
<section class="contact spad bg-gradient-animate">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d178892.74052447747!2d-78.45941228343341!3d-0.1817414347558998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a4002427c9f%3A0x44b991e158ef5572!2sQuito%2C%20Ecuador!5e0!3m2!1sen!2sus!4v1705707423394!5m2!1sen!2sus" width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <span>Send a message to Kaleb</span>
                    <h3>Get in touch</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="secondary-btn">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Section End -->

{% endblock content %}