
.blog__details__text h1,
.blog__details__text h2,
.blog__details__text h3,
.blog__details__text h4,
.blog__details__text h5,
.blog__details__text h6 {
    color: #ffffff;
}

.blog__details__text a {
    color: #00bfe7;
    text-decoration: underline;
}

.blog__details__text code {
    color: #00bfe7;
}

/* Style the code block container */
.highlight {
    background-color: #031e36;
/*    border: 1px solid #ddd;*/
    border-left: 3px solid #00bfe7;
    padding: 1em;
    margin-bottom: 1em;
    overflow-x: auto;
    line-height: 1.5;
}

/* Style the code syntax */
.highlight code {
    display: block;
    background-color: inherit;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5em;
    border-radius: 3px;
}

/* Style line numbers (if enabled) */
.highlight pre {
    counter-reset: line;
}

.highlight pre code:before {
    content: counter(line);
    counter-increment: line;
    color: #999;
    padding-right: 1em;
    margin-right: 1em;
    border-right: 1px solid #ddd;
    display: inline-block;
    text-align: right;
}

/* Style the code block's scrollbar (if needed) */
.highlight::-webkit-scrollbar {
    width: 8px;
}

.highlight::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}